.map-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 16px;
  max-width: 1700px;
  margin: 15px auto;
  width: 100%;
}

.map-info {
  margin-left: 25px;
  flex: 1;
  max-width: 250px;
  margin-right: 30px;
}

.map-info h2 {
  font-size: 36px;
  font-weight: bold;
  color: #000;
}

.map-info p {
  font-size: 18px;
  color: #333;
  margin: 15px 0 25px;
}

.expand-btn {
  background: #660099;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.expand-btn:hover {
  background: #4a0077;
}

.map-container {
  width: 85%; 
  height: 10%; /* Definindo uma altura fixa para a div do mapa */
  flex: 2;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: contain; /* Ajusta o mapa sem cortar, mantendo a proporção */
}