body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #333;
  overflow-x: hidden; /* Evita rolagem horizontal */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-left: 138px; /* Logo fixa no lugar */
}

.nav-links {
  font-size: 17px;
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Permite que os links ocupem o espaço restante */
  justify-content: center; /* Centraliza os links */
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.nav-links li a:hover {
  color: #6a1b9a;
}

.login-btn {
  padding: 7px 19px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #6a1b9a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 138px; /* Login fixa no lugar */
}

.login-btn:hover {
  background-color: #4a0c6b;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 120px;
  box-sizing: border-box;
}

.text-content {
  max-width: 600px;
  flex: 1;
}

.text-content h1 {
  font-weight: 700;
  font-size: 50px;
  color: #000;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.explore-btn {
  padding: 12px 22px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #6a1b9a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.explore-btn:hover {
  background-color: #4a0c6b;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 500px;
  box-sizing: border-box;
  margin-top: 40px;
}

.image-content img {
  max-width: 95%;
  height: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
  position: relative;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  background: #6c27ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background: #4a1dbb;
}

.close-modal {
  background: transparent;
  color: #6c27ff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
}

.close-modal:hover {
  color: #4a1dbb;
}

.help-button {
  position: fixed;
  bottom: 17px;
  right: 20px;
  background-color: #6b46c1;
  color: white;
  padding: 8px;
  border-radius: 35%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.help-button:hover {
  background-color: #542e9c;
}

.map-container {
  position: relative;
  width: 100%;
  height: 50%;
  min-height: 450px;
}


@media (max-width: 640px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text-content {
    align-items: center;
    justify-content: center;
    
  }

  .image-content {
    display: none !important;
  }

  .explore-btn {
    margin: 0 auto;
  }

  .nav-links li a {
    font-size: 14px !important;
  }
  
  button {
    font-size: 15px !important;
  }
}

