.container {
  margin-top: 90px;
  padding: 24px;
  background-color: #f7fafc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;  /* Para espaçar os elementos */
}

.header {
  display: grid;
  
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  font-family: "Poppins", sans-serif;
}


.title {
  font-size: 35px;
  color: #2d3748;
  text-align: center; /* Garante que o título fique alinhado à esquerda */
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 20px; /* Reduzi um pouco o border-radius para acompanhar o tamanho menor */
  padding: 4px 12px; /* Reduzi o padding para diminuir a altura */
  background-color: white;
  margin: 0 auto;
  position: relative;
  height: 32px; /* Define uma altura menor */
  margin-left: -50px;
}

.login-button {
  background-color: #6b46c1;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #5a35a1;
}

.filters {
  display: flex;
  justify-content: space-between;
  color: #4a5568;
  font-size: 0.875rem;
  width: 100%;
  padding: 16px 0;
}

.event-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.9;
}

.event-card .event-name {
  font-weight: bold;
  font-size: 1.125rem;  /* Reduzi o tamanho da fonte do nome do evento para 0.875rem */
  color: #2d3748;
  margin-bottom: -6px;
}

.event-card .event-description {
  color: #4a5568;
  font-size: 14px;
  max-height: 120px;
  overflow: hidden;
}

.event-card .event-image {
  background-color: #1AB393;
  height: 170px;
  border-radius: 10px;
  margin-bottom: 12px;
  background-size: cover;
  background-position: center;
}

.event-card .event-date {
  font-size: 0.875rem;
  color: #6b7280;
  font-weight: bold;
  margin-bottom: -3px;  /* Menor espaço entre a data e a descrição */
}

.event-list {
  display: grid;
  grid-template-columns: 1fr; /* Padrão para mobile */
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}


.error-message {
  color: red;
  font-size: 1rem;
  text-align: center;
  margin-top: 16px;
}

.explore-btn {
  background-color: #8d52e5;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 24px;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #51188f;
}

@media (max-width: 480px) {
  .explore-btn {
    width: 100%;
  }
}

@media (min-width: 640px) {
  .event-list {
    grid-template-columns: 1fr 1fr; /* 2 cards por linha */
  }
}

@media (min-width: 768px) {
  .event-list {
    grid-template-columns: 1fr 1fr 1fr; /* 3 cards por linha */
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 35px;
  }
}

@media (min-width: 1024px) {
  .event-list {
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 cards por linha */
  }
}

@media (min-width: 1280px) {
  .event-list {
    grid-template-columns: repeat(4, 1fr); /* 5 cards por linha */
  }
}

.see-more-container {
  text-align: center;
  margin-top: 20px;
}

.see-more-button {
  background-color: #8d52e5;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  display: inline-block;
}

.see-more-button:hover {
  background-color: #51188f;
}

